/* TicTacToeStartPage.module.css */
.container {
  position: fixed;
  top: 40px;
  left: 0;
  width: 852px;
  height: 393px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/emages/BacgroundGame.png") center/cover no-repeat;
  padding: 20px;
  box-sizing: border-box;
}
.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/assets/emages/MaskStars.png") center/cover no-repeat;
  mix-blend-mode: screen; /* Або lighten */
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}
.btnStart {
  width: 160px;
  height: 160px;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themeContainer {
  display: flex;
  flex-direction: row;
  gap: 40px; /* відстань між шапкою і грою */
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 90%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  min-width: 200px;
}

.btn {
  width: 160px;
  height: 40px;
  font-size: 1em;
  margin-top: 10px;
}

.blok {
  display: flex;
  flex-direction: column;
}

select {
  margin-top: 5px;
  padding: 6px;
  font-size: 1em;
}
