.game_container {
  padding: 30px 20px 50px;
  width: 492px;
  height: 256px;
  margin: auto;
  font-family: sans-serif;
  background: url("/src/assets/emages/Rectangle_mod.png.png") center/cover
    no-repeat;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.playerLeft {
  width: 89px;
  height: 256px;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/src/assets/emages/Bacground89256.png") center/cover
    no-repeat;
}
.playerRight {
  width: 89px;
  height: 256px;
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* зміщення контенту вниз */
  align-items: center;
  background: url("/src/assets/emages/Bacground89256.png") center/cover
    no-repeat;
}

.label {
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.icon {
  width: 60px;
  height: 60px;
  fill: #fff;
  display: block;
  margin: 0 auto;
}
.icon-img {
  width: 60px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.cell {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
  color: #fff;
}

/* При натисканні – не показувати ніякого фону */
.cell:focus,
.cell:active {
  outline: none;
  background: none;
  box-shadow: none;
}

/* Іконки всередині клітинок – збільшити */
.cell svg {
  width: 60px;
  height: 60px;
}

.icon-img {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* робить саме зображення круглим */
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
.user_info p {
  margin: 0;
  font-size: 14px;
}
.gridWrapper {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 15px;
  z-index: 3; /* Вище за лінії */
}

.statusWrapper {
  margin-top: 10px;
  min-height: 30px; /* резервує місце для тексту/кнопки */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.status {
  font-size: 20px;
  font-weight: 600;
  color: wheat;
  margin-bottom: 12px;
  text-align: center;
}

.retryBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f7c59f;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.retryBtn:hover {
  background-color: #f6ae78;
}

.gridOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 260px;
  pointer-events: none;
  z-index: 2;
  opacity: 1;
}

/* окремо для вертикальних ліній */
.gridOverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px; /* зсуваємо трохи правіше, щоб уникнути лівої межі */
  width: calc(100% - 30px); /* прибираємо крайні лінії */
  height: 100%;
  background: url("/src/assets/emages/Bg_pop_Vertical.png") center/contain
    repeat-x;
}

/* окремо для горизонтальних ліній */
.gridOverlay::after {
  content: "";
  position: absolute;
  top: 15px; /* зсуваємо трохи вниз, щоб уникнути верхньої межі */
  left: 0;
  width: 100%;
  height: calc(100% - 30px); /* прибираємо крайні лінії */
  background: url("/src/assets/emages/Bg_pop_Gorizont.png") center/contain
    repeat-y;
}
